{% extends "LayoutNav.twig" %} {% block content %}
<!-- About Section Begin -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="alert alert-primary" role="alert">
                    {{ name.nombre }}{{ responseMessage }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>Add Vehicle</h3>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5">

                <!--Begin Form-->
                <form action="/save/vehicle" method="post" class="question-form ">
                    <b>Model:</b>
                    <input type="text" name="modelcar" placeholder="Model Car" required>
                    <b>Brand</b>
                    <input type="text" name="brandcar" placeholder="Car Brand" required>
                    <div class="form-group">
                        <b>Color:</b>
                        <select id="inputState" name="colorcar" class="form-control">
								<option selected>Choose...</option>
								<option value="White">White</option>
								<option value="Green">Green</option>
								<option value="Yellow">Yellow</option>
								<option value="Rose">Rose</option>
								<option value="Black">Black</option>
								<option value="Blue">Blue</option>
								<option value="LightBlue">Light blue</option>
								<option value="Silver">Silver</option>
								<option value="Golden">Golden</option>
							</select>
                    </div>
                    <div class="form-group">
                        <b>Type:</b>
                        <select id="inputState" name="typecar" class="form-control" required>
								<option selected>Choose...</option>
								<option value="Van">Van</option>
								<option value="Sports-Car">Sports Car</option>
								<option value="Car">Car</option>
								<option value="Motorcycle">Motorcycle</option>
								<option value="Bicycle">Bicycle</option>
							</select>
                    </div>
                    <b>Plate:</b>
                    <input type="text" name="platecar"  placeholder="Car Plate" required>
                    <b>Insurance Number:</b>
                    <input type="text" name="numbercar" placeholder="Auto Insurance Number">
                    <b>Owner Name:</b>
                    <input type="text" name="ownercar" placeholder="Car Owner's Name">
                    <b>Description:</b>
                    <textarea name="descriptioncar" placeholder="Car Description"></textarea>
                    <div style="text-align: center;">
                        <button type="submit" class="site-btn">Send</button>
                    </div>
                </form>
                <!--End Form-->

            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
{% endblock %} {% block namepage %}
<title>AddVehicle</title>
{% endblock %} {% block Nav %}
<ul>
    <li class="active">
        <a href="/vehicle/add">Add Vehicles</a>
    </li>
    <li>
        <a href="/reservation">Schedule a Reservation</a>
    </li>
    <li>
        <a href="/account">Account</a>
    </li>
    <li>
        <a href="/history">History</a>
    </li>
</ul>
{% endblock %} {% block NavMax %}
<ul>
    <li class="active">
        <a href="/vehicle/add">Add Vehicles</a>
    </li>
    <li>
        <a href="/reservation">Schedule a Reservation</a>
    </li>
    <li>
        <a href="/account">Account</a>
    </li>
    <li>
        <a href="/history">History</a>
    </li>
</ul>
{% endblock %} {% block ubication %}
<div class="breadcrumb__option">
    <a href="/vehicle/add">
        <span class="fa fa-home"></span> Home
    </a>
    <span>Add Vehicle</span>
</div>
{% endblock %}