{% extends "LayoutFloor.twig" %}

{% block content %}
[
'a__a__a__a__a__a',
'_______________',
'_______________a',
'_______________',
'c__b____b__c___a',
'c__b____b__c___',
'c__b____b__c___a',
'c__b____b__c___',
'c__b____b__c___a',
'c__b____b__c___',
'c__b____b__c___a',
'_______________',
'_______________a',
'_______________',
'a__a__a__a__a__a'
]
{% endblock %}

{% block title %}
<title>First</title>
{% endblock %}