<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/estilosHome.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/elegant-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/estilos2.css">

    {% block nombrepage %}{% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <style>
        .icono {
            font-size: 25px;
            position: relative;
            top: 5%;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas__menu__overlay"></div>
    <div class="offcanvas__menu__wrapper">
        <div class="canvas__close">
            <span class="fa fa-times-circle-o"></span>
        </div>
        <div class="header__logo">
            <a href="https://www.espanol.marriott.com/hotels/travel/vsamc-villahermosa-marriott-hotel/"><img src="../img/logo9.png" alt="Logo del Marriott" style="height: 20px;"></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__info">
            <ul>
                <li><span class="icon_phone"></span> +52 993 310 0201</li>
                <li><span class="fa fa-envelope"></span> soportetecnico@hotel.marriot.com</li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="header__info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-left">
                            <ul>
                                <li>
                                    <span class="icon_phone"></span> +52 993 310 0201</li>
                                <li>
                                    <span class="fa fa-envelope"></span> soportetecnico@hotel.marriot.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="https://www.espanol.marriott.com/hotels/travel/vsamc-villahermosa-marriott-hotel/"><img src="img/logo9.png" alt="Logo del Marriott" style="height: 50px;"></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header End -->
{% block content %}

{% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-call">
                            <h5>Send us your doubts</h5>
                            <h2>
                                <a href="mailto:soportetecnico@hotel.marriot.com" target="_blank">soportetecnico@hotel.marriot.com</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text set-bg" data-setbg="img/footer-bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-about">
                            <div class="footer__logo">
                                <a href="https://www.espanol.marriott.com/hotels/travel/vsamc-villahermosa-marriott-hotel/"><img src="img/logo9.png" alt="Logo del Marriott" style="height: 100px;"></a>
                            </div>
                            <p>
                            Luxury hotel in Villahermosa with free parking and easy access to a shopping center. This hotel features a restaurant, an outdoor pool and a gym. Self parking is free. Other facilities include a bar / lounge, a 24-hour business center and Wi-Fi in public areas.
                            </p>
                            <div class="footer__social">
                                <a href="https://www.facebook.com/HotelMarriottVillahermosa/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.instagram.com/hotelmarriottvillahermosa/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer__text-widget">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="https://www.espanol.marriott.com/default.mi">Company</a></li>
                                <li><a href="https://www.espanol.marriott.com/loyalty/createAccount/createAccountPage1.mi">Blogs</a>
                                </li>
                                <li><a href="https://www.espanol.marriott.com/marriott/aboutmarriott.mi">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-widget">
                            <h5>Contact Us</h5>
                            <ul class="footer__widget-info">
                                <li>
                                    <span class="fa fa-map-marker"></span>Ave. Paseo Tabasco 1407, Col. Tabasco 2000 Villahermosa, Tabasco 86030 México</li>
                                <li>
                                    <span class="fa fa-mobile"></span> +52 993 310 0201 | +52 993 310 0201</li>
                                <li>
                                    <span class="fa fa-headphones"></span> soportetecnico@hotel.marriot.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__text-copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved by
                        <a href="https://www.facebook.com/DevWeb-105448677849164/?hc_ref=ARTe_BV1aJNPJ0WN9Z-9uZRhR3so3bq7qMfmFzePyWd7M2Q7OFwB3zaXHdU01sO8RUc&fref=nf&__xts__[0]=68.ARCaKs-dLmbnI1lT8K-2Z0l_shQvYBgWRBFPPaHIPx1Rc9tCdL5Tgu8RfHYlWOT2B8RDxBgE-N0iiwiKuY1X1iJ61vzFn8qOIbRRe3PbdrGbnQQAdcW7OezujSnRdv0CI5a9rcsGXKiYsTuF5NzsP0gdVAAr27RDFB3F-oYprFnrLainfUo0HKqOe-P4gy9aKAKfdTVurQVvKkw1TP4Zqs0ZBtH-WRFCfZu5Nf_cvmA47-7aQ_0cgGlw0HoYl_lFtyDdUvXfTILpRPe7tQW9B_iRcn9WwLJmYBIrnf7jquICuSnBsJ6H08ynuGEP4uVtkdzJ2yjVHpW906vvU7DhOPw&__tn__=kC-R" target="_blank">DevWeb</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popup.js"></script>
</body>

</html>