{% extends "LayoutFloor.twig" %}

{% block content %}
[
'_a__a__a__a__a__a',
'_________________',
'a_________________',
'_________________',
'a___c__b_____b__c',
'_________________',
'a___c__b_____b__c',
'_________________',
'a___c__b_____b__c',
'_________________',
'a___c__b_____b__c',
'_________________',
'a_________________',
'_________________',
'_a__a__a__a__a__a'
]
{% endblock %}

{% block title %}
<title>Second</title>
{% endblock %}
