{% extends "LayoutFloor.twig" %}


{% block content %}
[
'a_____a_____a____',
'_________________',
'_________________a',
'_________________',
'c__b______b__c___a',
'_________________',
'c__b______b__c____',
'_________________',
'c__b______b__c____',
'_________________',
'c__b______b__c___a',
'_________________',
'_________________a',
'_________________',
'a_____a_____a____'
]
{% endblock %}

{% block title %}
<title>Third</title>
{% endblock %}